<!-- Jumbotron Header -->
<header class="jumbotron my-4">
  <h1 class="display-3">Workout Tracker</h1>
  <p class="lead">An exercise tracking application!</p>
</header>
<!-- Page Features -->
<div class="row text-center">
  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card">
      <img class="card-img-top" src="http://placehold.it/500x325" alt="">
      <div class="card-body">
        <h4 class="card-title">Create</h4>
        <p class="card-text">
          Compose workout routines, add custom exercises, you can do it all.
        </p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Find Out More!</a>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card">
      <img class="card-img-top" src="http://placehold.it/500x325" alt="">
      <div class="card-body">
        <h4 class="card-title">Share</h4>
        <p class="card-text">
          Do you think you have an effectice workout routine?
          Share with others and help them accomplish what you have accomplished,
          in the same way you did.
        </p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Find Out More!</a>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card">
      <img class="card-img-top" src="http://placehold.it/500x325" alt="">
      <div class="card-body">
        <h4 class="card-title">Support</h4>
        <p class="card-text">
          Everyone likes being cheered on.  Cheer on your friends and
          show them their hard work does not go unnoticed.
        </p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Find Out More!</a>
      </div>
    </div>
  </div>
</div>